÷÷.bg-gr-dr {
    background-color: #6c757d;
}

.min-height {
    min-height: 30px;
}

.br {
    border: 2px solid black;
}

.text {
    color: rgb(62, 112, 21);
}

.bg-op-dt {
    background-color: rgb(27, 26, 26);
}

.bg-pur {
    background-color: rgb(134, 39, 223);
}

.bg-bl {
    background-color: rgb(17, 20, 207);
}